# Importing dataset directly from Kaggle into Colab

In [1]:
# Code to import dataset directly from Kaggle into Colab
# Need to have Kaggle user name and API token key (which may expire so new API token key might need to be generated)

!pip install opendatasets
import opendatasets as od
od.download("https://www.kaggle.com/datasets/yellowj4acket/real-estate-california")

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.5)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.8)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: syedimtiazmir
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/yellowj4acket/real-estate-california
Downloading real-estate-california.zip to ./real-estate-california

100%|██████████| 11.4M/11.4M [00:00<00:00, 26.0MB/s]

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# load the dataset
data = pd.read_csv('/content/real-estate-california/RealEstate_California.csv')

data.head()

In [33]:
# info about dataset
data.shape

(35389, 39)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35389 entries, 0 to 35388
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          35389 non-null  int64
 1   id                  35389 non-null  object
 2   stateId             35389 non-null  int64
 3   countyId            35389 non-null  int64
 4   cityId              35389 non-null  int64
 5   country             35389 non-null  object
 6   datePostedString    35386 non-null  object
 7   is_bankOwned        35389 non-null  int64
 8   is_forAuction       35389 non-null  int64
 9   event               35100 non-null  object
 10  time                35100 non-null  float64
 11  price               35389 non-null  float64
 12  pricePerSquareFoot  35389 non-null  float64
 13  city                35389 non-null  object
 14  state               35389 non-null  object
 15  yearBuilt           35389 non-null  int64
 16  streetAddress       35388 non-null  object
 17  zipcode             35364 non-null  float64
 18  longitude           35389 non-null  float64
 19  latitude            35389 non-null  float64
 20  hasBadGeocode       35389 non-null  int64
 21  description         35110 non-null  object
 22  currency            35389 non-null  object
 23  livingArea          35389 non-null  float64
 24  livingAreaValue     35389 non-null  float64
 25  lotAreaUnits        35389 non-null  object
 26  bathrooms           35389 non-null  float64
 27  bedrooms            35389 non-null  float64
 28  buildingArea        35389 non-null  float64
 29  parking             35389 non-null  int64
 30  garageSpaces        35389 non-null  float64
 31  hasGarage           35389 non-null  int64
 32  levels              35389 non-null  object
 33  pool                35389 non-null  int64
 34  spa                 35389 non-null  int64
 35  isNewConstruction   35389 non-null  int64
 36  hasPetsAllowed      35389 non-null  int64
 37  homeType            35389 non-null  object
 38  county              35389 non-null  object
dtypes: float64(12), int64(14), object(13)
memory usage: 10.5+ MB

# Identifying columns to be dropped
1. Columns which have data that have no relevance to price prediction e.g. Serial # (Unnamed: 0), id
2. Columns which have only one value in the dataset
3. Columns which only have limited value instances e.g. is_bankOwned

In [65]:
# Initialize an empty list to store column names to drop
columns_to_drop = []

# Identify columns with only one unique value
one_unique_col = []

for column in data.columns:
    if data[column].nunique() == 1:
        one_unique_col.append((column, data[column].nunique()))
        columns_to_drop.append(column)

# Print columns with only one unique value and the count of unique values
print("Columns to drop (having only one unique value):")
for column, unique_count in one_unique_col:
    print(f"Column: {column}, Unique Values: {unique_count}")


print("\nRunnnig List of columns to drop:")
print(columns_to_drop)
print("\n")

Columns to drop (having only one unique value):
Column: stateId, Unique Values: 1
Column: country, Unique Values: 1
Column: state, Unique Values: 1
Column: currency, Unique Values: 1

Runnnig List of columns to drop:
['stateId', 'country', 'state', 'currency']

In [66]:
# Identify columns with limited unique values and their counts
LIMITED_UNIQUE = 10             # constant to define how many unique values we may want to consider
limited_unique_col = []
limited_unique_col_counts = {} #dictionary to store column names and their unique values

for column in data.columns:
    if data[column].nunique() > 1 and data[column].nunique() < LIMITED_UNIQUE:
        limited_unique_col.append((column, data[column].nunique()))
        unique_values_counts = data[column].value_counts()
        limited_unique_col_counts[column] = unique_values_counts



print("="*50)

# Print columns with fewer than LIMITED_UNIQUE values and the count of unique values
print(f"\nColumns with fewer than {LIMITED_UNIQUE} unique values:")
for column, unique_count in limited_unique_col:
  print(f"Column: {column}, Unique Values: {unique_count}")

print("\n" + "="*50 + "\n\n")
# Print the unique values and their counts for columns with fewer than COUNT_INSTANCES values
COUNT_INSTANCES = 50
print(f"Unique values and their counts for columns with fewer than {COUNT_INSTANCES} unique values:\n")
for column, unique_values_counts in limited_unique_col_counts.items():
  if (unique_values_counts < COUNT_INSTANCES).any():
    print(f"Column: {column}")
    print(unique_values_counts)
    #print(unique_values_counts.sum())
    print("="*50)

==================================================

Columns with fewer than 10 unique values:
Column: is_bankOwned, Unique Values: 2
Column: is_forAuction, Unique Values: 2
Column: event, Unique Values: 6
Column: hasBadGeocode, Unique Values: 2
Column: lotAreaUnits, Unique Values: 2
Column: parking, Unique Values: 2
Column: hasGarage, Unique Values: 2
Column: pool, Unique Values: 2
Column: spa, Unique Values: 2
Column: isNewConstruction, Unique Values: 2
Column: hasPetsAllowed, Unique Values: 2
Column: homeType, Unique Values: 6

==================================================


Unique values and their counts for columns with fewer than 50 unique values:

Column: is_bankOwned
is_bankOwned
0    35386
1        3
Name: count, dtype: int64
==================================================
Column: is_forAuction
is_forAuction
0    35363
1       26
Name: count, dtype: int64
==================================================
Column: event
event
Listed for sale    24622
Price change        4893
Listing removed     4311
Sold                1268
Listed for rent        5
Pending sale           1
Name: count, dtype: int64
==================================================
Column: hasBadGeocode
hasBadGeocode
0    35386
1        3
Name: count, dtype: int64
==================================================
Column: homeType
homeType
SINGLE_FAMILY    22409
LOT               5850
CONDO             3495
MULTI_FAMILY      2446
TOWNHOUSE         1188
APARTMENT            1
Name: count, dtype: int64
==================================================

In [69]:
# Using output from above eliminating columns that have limited number of unique instances
# these include is_bankOwned, is_forAuction, hasBadGeocode

columns_to_drop.extend(['is_bankOwned', 'is_forAuction', 'hasBadGeocode'])
print("\nRunnnig List of columns to drop:")
print(columns_to_drop)
print("\n")

Runnnig List of columns to drop:
['stateId', 'country', 'state', 'currency', 'is_bankOwned', 'is_forAuction', 'hasBadGeocode']

In [ ]:
# Drop those columns from the dataset
# data_cleaned = data.drop(columns=columns_to_drop)

# Show the cleaned dataset with the columns dropped
# print("Dataset after dropping columns based an analysis:")
# print(data_cleaned.head())

After dropping columns, next step is to clean the rows.

This would include the following:
* Identify rows whose values need to be updated e.g.
  1. Column "homeType" has one row which has value "APARTMENT" --> this should be changed to "MULTI_FAMILY"
  2. Column event has 5 rows which has value "Listed for rent"
* Identify rows where price (intended model output) is missing --> these rows should be deleted
*

In [60]:
# Identify columns with missing values

# Identify columns with missing values
missing_values = data.isnull().sum()

# Filter the columns that have missing values
columns_with_missing_values = missing_values[missing_values > 0]

# Print the columns with missing values and the count of missing values
print("Columns with missing values and counts of missing values:")
print(columns_with_missing_values)

Columns with missing values and counts of missing values:
datePostedString      3
event               289
time                289
streetAddress         1
zipcode              25
description         279
dtype: int64

In [71]:
# Identify instances of rows which have no price listed

# First ensure that all values in the 'price' column are converted to numeric
data['price'] = pd.to_numeric(data['price'], errors='coerce')

# Identify count of rows with missing values or ZERO values in the 'price' column
no_price = data[data['price'].isna() | (data['price'] == 0)]
# no_price = data[data['price'] == 0]

# Print count of no_price
print("Count of rows with no price listed:")
print(len(no_price))  # Print the count of rows with no price listed

Count of rows with no price listed:
319

In [10]:
# Function to find unique values and their counts in each column
def unique_values_summary(dataframe):
    for column in dataframe.columns:
        unique_values = dataframe[column].unique()
        unique_count = dataframe[column].nunique()
        unique_value_counts = dataframe[column].value_counts()
        print(f"Column: {column}")
        print(f"Number of unique values: {unique_count}")
        print(f"Counts of unique values: {unique_value_counts}")
        #print(f"Unique values: {unique_values}")
        print("="*50)


unique_values_summary(data_cleaned)

Column: Unnamed: 0
Number of unique values: 35389
Counts of unique values: Unnamed: 0
0        1
23595    1
23589    1
23590    1
23591    1
        ..
11791    1
11790    1
11789    1
11788    1
35388    1
Name: count, Length: 35389, dtype: int64
==================================================
Column: id
Number of unique values: 31238
Counts of unique values: id
95128-19582383      2
94801-18544111      2
92780-25473821      2
94806-2079640091    2
94804-2070052082    2
                   ..
94538-58879021      1
94538-25036961      1
94538-25038968      1
94538-25037561      1
95060-16100392      1
Name: count, Length: 31238, dtype: int64
==================================================
Column: countyId
Number of unique values: 34520
Counts of unique values: countyId
6036      2
37969     2
12230     2
12229     2
12228     2
         ..
151586    1
151546    1
151545    1
151544    1
130370    1
Name: count, Length: 34520, dtype: int64
==================================================
Column: cityId
Number of unique values: 1048
Counts of unique values: cityId
12447    2995
54296    1128
20330     748
33839     656
20288     572
         ...
52124       1
30720       1
22347       1
35474       1
24895       1
Name: count, Length: 1048, dtype: int64
==================================================
Column: datePostedString
Number of unique values: 556
Counts of unique values: datePostedString
2021-07-09    3537
2021-07-08    2616
2021-05-25    2329
2021-07-07    2181
2021-07-12    1668
              ...
2018-01-10       1
2019-07-02       1
2019-03-16       1
2018-12-23       1
2019-03-15       1
Name: count, Length: 556, dtype: int64
==================================================
Column: is_bankOwned
Number of unique values: 2
Counts of unique values: is_bankOwned
0    35386
1        3
Name: count, dtype: int64
==================================================
Column: is_forAuction
Number of unique values: 2
Counts of unique values: is_forAuction
0    35363
1       26
Name: count, dtype: int64
==================================================
Column: event
Number of unique values: 6
Counts of unique values: event
Listed for sale    24622
Price change        4893
Listing removed     4311
Sold                1268
Listed for rent        5
Pending sale           1
Name: count, dtype: int64
==================================================
Column: time
Number of unique values: 1308
Counts of unique values: time
1.624320e+12    4092
1.625789e+12    3828
1.625702e+12    3075
1.625616e+12    1881
1.626048e+12    1833
                ...
1.496275e+12       1
1.464739e+12       1
1.343866e+12       1
1.510790e+12       1
1.571357e+12       1
Name: count, Length: 1308, dtype: int64
==================================================
Column: price
Number of unique values: 4276
Counts of unique values: price
599000.0     348
799000.0     338
0.0          319
899000.0     301
699000.0     284
            ...
5130000.0      1
615990.0       1
712800.0       1
663305.0       1
9999.0         1
Name: count, Length: 4276, dtype: int64
==================================================
Column: pricePerSquareFoot
Number of unique values: 1964
Counts of unique values: pricePerSquareFoot
0.0       7186
333.0       72
250.0       68
325.0       65
446.0       65
          ...
1299.0       1
15.0         1
7143.0       1
2400.0       1
2225.0       1
Name: count, Length: 1964, dtype: int64
==================================================
Column: city
Number of unique values: 1236
Counts of unique values: city
Los Angeles              1664
San Diego                1026
San Francisco             746
Sacramento                703
San Jose                  672
                         ...
Lyndon                      1
Castella                    1
Duncans Mills               1
Rural San Luis Obispo       1
Gold Run                    1
Name: count, Length: 1236, dtype: int64
==================================================
Column: yearBuilt
Number of unique values: 161
Counts of unique values: yearBuilt
0       6015
1979     551
2005     536
2021     525
1950     512
        ...
1868       1
1881       1
1856       1
1860       1
1852       1
Name: count, Length: 161, dtype: int64
==================================================
Column: streetAddress
Number of unique values: 31129
Counts of unique values: streetAddress
Coming Soon Plan         28
0                         7
Residence 1 Plan          7
0 National Trails Hwy     5
0 Magnolia Ave            4
                         ..
4536 Piper St             1
43462 Lindenwood St       1
40574 Blacow Rd           1
39203 Farwell Dr          1
123 Longview Dr           1
Name: count, Length: 31129, dtype: int64
==================================================
Column: zipcode
Number of unique values: 1597
Counts of unique values: zipcode
95033.0    66
92037.0    65
95476.0    64
92404.0    62
94114.0    62
           ..
95417.0     1
96046.0     1
96063.0     1
95525.0     1
95717.0     1
Name: count, Length: 1597, dtype: int64
==================================================
Column: longitude
Number of unique values: 30370
Counts of unique values: longitude
-117.067780    4
-121.945717    4
-117.254852    4
-117.044106    4
-121.962234    4
              ..
-114.420349    1
-114.420975    1
-114.483681    1
-114.498772    1
-122.038750    1
Name: count, Length: 30370, dtype: int64
==================================================
Column: latitude
Number of unique values: 30666
Counts of unique values: latitude
34.186974    5
33.843258    5
33.948879    4
34.079987    4
38.376499    4
            ..
38.339592    1
38.344357    1
38.385803    1
38.357014    1
36.977543    1
Name: count, Length: 30666, dtype: int64
==================================================
Column: hasBadGeocode
Number of unique values: 2
Counts of unique values: hasBadGeocode
0    35386
1        3
Name: count, dtype: int64
==================================================
Column: description
Number of unique values: 30858
Counts of unique values: description
Seller financing easy terms Nice flat lot with paved street and utilities on the street. Existing homes next door. Buyers to do their due diligence.  Address is just an approximate.  Property purchased at Gov tax sale.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        6
Small lot at a small price. Take a look and see how your dreams can be realized with this great opportunity. Owners owns several of these parcels in the area. If this one does not fit your needs we may have others in the same price range.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5
"Come experience luxury living in the newest urban development in Sacramento. Seven detached homes with phenomenal rooftop decks giving homeowners a beautiful 360 view of the city. Homes are pre-wired for full connected home capability including security appliance automation and entertainment centers. With a limited number of homes available this is an exclusive opportunity that wont last long. Reserve one while you can!"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         5
This is literally a once in a lifetime opportunity. Take pride in owning one of these elite jaw dropping single family style condos that make up the last residential development project permitted on the Sacramento River. Riverfront luxury has never been done at this level. Each unit features expansive river views indoor-outdoor living with floor to ceiling window doors opening completely onto large covered private decks. There is no home more suitably equipped for entertainment. The tranquility of river front living while only 6 minutes from the excitement of Downtown Sacramento offers the best of both worlds. A true collectors item with only 12 total units this project lives up to its name. Do not miss out on the opportunity to enter the realm of real estate exclusivity.                                                                                                                                                                                                                    4
Premium custom home lot with views. Next to the mountain and view of the city this hilltop view lot is private and has many other things to offer. Other lots available. This is 1 of 4 main lots in the subdivision (gated). In your private oasis enjoy two artesian wells many fruit trees 80 gallons of water per minute with water rights Electrical lines beautiful pond along with asphalt drive and equipped with street lamps automatic sprinkler system many palms fruit trees avocado and fig trees as well.  Septic tanks at hilltop and sewer line available.                                                                                                                                                                                                                                                                                                                                                                                                                                                        4
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
"As you are welcomed into this stunning single-story home on 1.22 acres backing up to BLM land you will be in awe of the 17 ft ceilings and walls of windows throughout the living area. The great room with its impressive wood burning fireplace is the perfect spot for keeping toasty in the winter.  The massive dining room with French doors opening to the front tiled patio for dining inside and outside and the rear concrete patio makes entertaining a breeze for 80 friends. The gourmet kitchen is a chefs dream with a 6 burner cook top warming drawer double oven built-in refrigerator storage galore over-sized island w/sink and breakfast nook with views of the woods and birds.  The enormous spa-like bath and the huge master suite with gas fireplace makes this the place to retreat and relax.  Front deck connects to the studio above the 3 car garage with full kitchen and bath.  The detached workshop with room above has a private patio and bath. Peaceful country living close to town!"    1
Superb Sierra-Nevada Mountain views from this beautiful 3-4 bedroom 3 bath single level home! Nestled back on a quiet and well established neighborhood street. This 2700 sqft. well maintained home offers large open spaces. SmartHome features throughout the home!  Beautiful mountain views are invited into the home through the large dining and living room windows.Stunning wood stove and flagstone hearth  complete the spacious living room design. Oak cabinets granite counters and spacious pantry add to the beauty and design of an open concept kitchen that you will want to cook in! Master suite includes a relaxing bathtub with views of the beautiful plants on the hillside. Solar is PAID IN FULL! Relax in your own private backyard oasis with stress-relieving hot tub calming water fountain and low maintenance landscape. 2-3 car garage -3rd bay current use is a game room with pool table and mini bar area! Tinker in the outdoor workshop. Plenty of storage dog area and much much more     1
"Location is everything in the Heart of Jackson this unique and charming home has lots to offer and is ready for its new owners.     You will fall in love with the beauty of Yesterday with todays updates! Wonderful Victorian home Re-built in  2004 and a fresh coat of exterior paint. Zoned Historical Commercial.The property had a back unit that is no longer there but City impact fees will be credited for the dwelling to the new owners if they want to build a second unit or garage.     The home has beautiful wood floors and wood throughout. Beautiful solid wood pocket doors separate the/office/game room from the living room area.  Main level has living room dining room office and one bedroom as well the kitchen with breakfast-nook laundry and a full  size bathroom with walk-in shower. Second floor features 3 bedrooms with a full bath with a clawfoot tub. Property also has 2 outbuilding and a basement.   Dont miss out!"                                                                1
Gorgeous Adobe Hills Unit facing the fountain in a highly sought after corner first floor unit. This 1077 Sq. ft. 2 Beds / 2 Bath features a spacious living room with wood burning fireplace A/C unit in unit Washer and Dryer 2 Underground parking spaces and storage club housepool spa and tennis courts.Walking distance to BART and lake Elizabeth and more. Do not miss this great opportunity.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Views from Capitola to beyond the Monterey Peninsula 123 Longview presents breathtaking majestic ocean and city vistas. On a parcel of over 1/3 acre you have room to enjoy the patios decks fruit trees and a canopy of mature Japanese Maple trees. As you enter the front door you step into a grand living room with vaulted ceilings and large windows to take in the sublime views of the Monterey Bay. The home has 2 bedrooms PLUS an office/art studio with its own exterior entrance!  Positioned on the upper west side above the city of Santa Cruz this prestigious location cant be beat! Close to UCSC the trails of Pogonip Westlake Park and Pond and a quick jump to downtown Santa Cruz.  A commuters dream this feels worlds above and away yet in close proximity to highway access. Truly unassuming from the street you must step inside to see the sweeping views and possibilities for your next home!                                                                                                   1
Name: count, Length: 30858, dtype: int64
==================================================
Column: livingArea
Number of unique values: 4675
Counts of unique values: livingArea
0.0       6765
1200.0     127
1500.0     101
1000.0      83
2000.0      83
          ...
3828.0       1
6096.0       1
7834.0       1
7148.0       1
4978.0       1
Name: count, Length: 4675, dtype: int64
==================================================
Column: livingAreaValue
Number of unique values: 4676
Counts of unique values: livingAreaValue
0.0        6764
1200.0      127
1500.0      101
1000.0       83
2000.0       83
           ...
5114.0        1
3904.0        1
4655.0        1
11320.0       1
4978.0        1
Name: count, Length: 4676, dtype: int64
==================================================
Column: lotAreaUnits
Number of unique values: 2
Counts of unique values: lotAreaUnits
sqft     21877
Acres    13512
Name: count, dtype: int64
==================================================
Column: bathrooms
Number of unique values: 26
Counts of unique values: bathrooms
2.0     10939
3.0      8369
0.0      8079
1.0      3737
4.0      2303
5.0       987
6.0       455
7.0       215
8.0       139
9.0        61
10.0       31
11.0       26
12.0       20
14.0        7
13.0        6
15.0        3
24.0        2
16.0        2
20.0        1
23.0        1
21.0        1
28.0        1
25.0        1
22.0        1
48.0        1
58.0        1
Name: count, dtype: int64
==================================================
Column: bedrooms
Number of unique values: 30
Counts of unique values: bedrooms
3.0     10911
0.0      7546
4.0      7228
2.0      5229
5.0      2432
1.0       907
6.0       628
7.0       225
8.0       142
9.0        50
12.0       22
10.0       20
11.0       18
13.0        5
21.0        3
15.0        3
17.0        2
32.0        2
29.0        2
16.0        2
14.0        2
18.0        2
82.0        1
50.0        1
99.0        1
24.0        1
30.0        1
80.0        1
56.0        1
52.0        1
Name: count, dtype: int64
==================================================
Column: buildingArea
Number of unique values: 2758
Counts of unique values: buildingArea
0.0       29271
1200.0       29
2000.0       25
1500.0       25
1600.0       24
          ...
2123.0        1
3582.0        1
2744.0        1
3884.0        1
3781.0        1
Name: count, Length: 2758, dtype: int64
==================================================
Column: parking
Number of unique values: 2
Counts of unique values: parking
1    23103
0    12286
Name: count, dtype: int64
==================================================
Column: garageSpaces
Number of unique values: 29
Counts of unique values: garageSpaces
0.0     18908
2.0     11020
1.0      2293
3.0      2257
4.0       554
5.0       127
6.0       106
8.0        38
7.0        22
10.0       18
12.0       14
9.0         7
31.0        2
15.0        2
18.0        2
27.0        2
28.0        2